<!-- FOOTER -->
<footer>
  <div class="footer">

    <div class="designed">
      <a class="course_logo" href="https://rs.school/angular/" target="_blank"><img src="../assets/images/rs_school.svg"
          alt="school logo"></a>
      <p class="designed">&#169; Marina Yurkevich, 04/2023
        <a href="https://github.com/Marinayurkevich" target="_blank"><img class="github_logo"
            src="../assets/images/GitHub.svg" alt="GitHub logo"></a>
      </p>
    </div>
  </div>
</footer>
<!-- <router-outlet></router-outlet> -->

