<main class="main_layout">
  <div class="content">
    <h1>Panda</h1>
    <div class="welcome_text">
      <p class="welcome_message">I'm ready to help you with your tasks. I can help you with organizing your work and
        collaborating with
        colleagues.
        Let's manage
        your projects together!</p>
      <p class="welcome_message align">Your Panda</p>
    </div>
    <div class="panda_welcome"><img src="../assets/images/panda_welcome.jpg" alt="panda">
    </div>

    <h2>Powered by:</h2>
    <div class="powered_by">
      <div class="ts_logo"><img src="../assets/images/ts_logo.svg" alt="typescript"></div>
      <div class="angular_logo"><img src="../assets/images/angular_logo.png" alt="angular"></div>
    </div>
  </div>
</main>
<!-- <router-outlet></router-outlet> -->
