<div class="board_block" *ngIf="hideBoardCreation">
  <div class="board_item">
    <div class="board_title">
    <p>Create new Board</p>

    <div class="align_items">
      <form #myForm="ngForm" novalidate>
        <div class="form_group">
          <label  class="title">Title</label>
          <input class="form_control" name="title" [(ngModel)]="board.title" #title="ngModel">
        </div>


        <div class="form_group">
          <label  class="title">Owner</label>
          <input class="form_control" name="owner" [(ngModel)]="board.owner" #owner="ngModel">
        </div>


        <div class="form_group">
          <label  class="title">Users</label>
          <input class="form_control" name="users" [(ngModel)]="board.users" #users="ngModel">
        </div>


        <div class="form_group">
          <button class="button_confirm" type="submit" (click)="submit(myForm)">Submit</button>
          <button class="button_confirm" (click)="cancel()">Cancel</button>
        </div>

      </form>
    </div>
  </div>
</div>
