<div class="wrapper_main">
  <app-header></app-header>

  <div class="main">
    <p> {{_id}}</p>
    <div class="dropdown">
      <button class="btn_board">Create Column</button>
      <div class="dropdown-content">
        <label (click)="createColumn('todo')">To Do</label>
        <label (click)="createColumn('inprogress')">In Progress</label>
        <label (click)="createColumn('done')">Done</label>
      </div>
      <div *ngFor="let column of columns; let i=index">
        <div class="task_description" scope="row">{{i+1}}</div>
        <div class="task_description">{{column.title}}</div>
        <div></div>
      </div>
    </div>
    <div class="footer_place"></div>
  </div>
</div>
<app-footer></app-footer>

<router-outlet></router-outlet>
